extends layout

block content
  h2 Welcome to #{title}
  p
    | In order to access your secrets, please log in using your credentials below or
    #warning
    if warning.length > 0
        p(class="warning") #{warning}
    | you can create a new account 
    a(href='/createAccount') here

  form(method="POST" action="/login")
    label(for="username") Username:
    input(type="text" name="username" id="username")
    br
    label(for="password") Password:
    input(type="password" name="password")
    br
    input(type="submit" name="submit" value="Login")
