extends layout

block content
  h2 Welcome to the Secrets Vault
  p In order to access your secrets, please log in using your credentials below or create a new account
  p #{error}
  div(id="tabs")
    ul
        li
            a(href="#tabs-1") Login
        li
            a(href="#tabs-2") Create Account
        
    div(id="tabs-1")
        #loginWarning
        if loginWarning.length > 0
            p(class="warning") #{loginWarning}
        form(id="login" method="POST" action="/login")
            label(for="username") Username:
            input(type="text" name="username" id="loginUsername")
            br
            label(for="password") Password:
            input(type="password" name="password" id="loginPassword")
            br
            input(type="submit" name="submit" align="right" value="Login")
    div(id="tabs-2")
        #createAccountWarning
        if createAccountWarning.length > 0
            p(class="warning") #{createAccountWarning}
        form(id="createAccount" method="POST" action="/createAccount")
            label(for="username") Username:
            input(type="text" name="username" id="createUsername")
            br
            label(for="password") Password:
            input(type="password" name="password" id="createPassword")
            br
            label(for="confirmPassword") Confirm Password:
            input(type="password" name="confirmPassword" id="createConfirmPassword")
            br
            input(type="submit" name="submit" value="Create")
