/* ------------------------- General Rules ------------------------- */
body {
    position: relative;
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #000000 url("../images/backgroundNotebook.jpg") no-repeat fixed center;
    background-size: cover;
}
#container {
    position: relative;
    width: 80%;
    height: 100vh;
    padding: 2%;
    margin: 0 auto 20% auto;
    background:rgba(255,255,255,0.4);
}
.button, button input {
    display: inline-block;
    width: 35% !important;
    float: right;
}
.marginAbove {
    margin-top: 2%;
}
.warning {
    color: red;
}
#footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-top: 2%;
    position: fixed;
    bottom: 0;
    left: 0;
}
form {
    position: relative;
    overflow: auto;
}
form > * {
    display: inline-block;
}
form input {
    width: 60%;
}
form label {
    width: 38%;
    margin-bottom: 4%;
}
form input[type="submit"]{
    float: right;
    margin-top: 2%;
    width: 30%;
}
#footer a {
  color: #000000;
  text-decoration: none;
}

/* ------------------------- Secrets Page ------------------------- */
.group h3, input[type="submit"], button, input.button {
    background: #000000 url("../images/wood.jpg") no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-weight: 500;
}
select, input[type="submit"], button, input.button {
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}
.secret span {
  color: #00FF00;
}
.updateSecret {
    margin: 1% 0 3% 0;
}
.updateSecret input {
    width: 99%;
    margin: 3% 0;
}
#addNew {
    margin-top: 8%;
    padding: 4%;
}
#addNew h3{
    margin-top: 0;
}
#addNew, #footer, #errorStack {
    border: 1px solid #d3d3d3;
    background: #cccccc url("http://code.jquery.com/ui/1.11.4/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}
#logout {
    width: 20%;
    position: absolute;
    right:0;
    top:0;
    margin: 2%;
}
#logout input , #sort input, .deleteSecret input {
    width: 100% !important;
}
#sortSecretsBy, #sort, button, #logout input , #sort input, .updateSecret input, .deleteSecret input {
    margin: 0 !important;
    vertical-align: text-bottom;
}
#sortOptions {
    margin-bottom: 2%;
    text-align:right;
}
#sortOptions > * {
    display: inline-block;
}
#sortOptions select {
    margin-right: 2%;
}

/* ------------------------- Error Page ------------------------- */
#errorStack {
    margin-top: 2%;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}