body {
    position: relative;
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: none;
}

.secret span {
  color: #00FF00;
}

.warning {
    color: red;
}
#footer {
    width: 100%;
    padding: 4% 0;
    text-align: center;
    margin-top: 2%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.updateSecret {
    margin: 1% 0 3% 0;
}
.updateSecret input {
    width: 100%;
    margin: 3% 0;
}

.button, button input {
    display: inline-block;
    width: 35% !important;
    float: right;
}

#sortOptions {
    text-align:right;
}
#sortOptions > * {
    display: inline-block;
}
#sortOptions select {
    margin-right: 2%;
}
form {
    position: relative;
    overflow: auto;
}
form > * {
    display: inline-block;
}
form input {
    width: 60%;
}
form label {
    width: 38%;
    margin-bottom: 4%;
}
form input[type="submit"]{
    float: right;
    margin-top: 2%;
    width: 30%;
}

#logout {
    width: 20%;
    position: absolute;
    right:0;
    top:0;
}
#logout input , #sort input{
    width: 100%;
    margin-bottom: 0;
}
#sortSecretsBy, #sort {
    vertical-align: text-bottom;
}

#sortOptions {
    margin-bottom: 2%;
}

#addNew {
    margin-top: 8%;
    padding: 4%;
}

#addNew, #footer, input[type="submit"] {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url("http://code.jquery.com/ui/1.11.4/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}

#addNew h3{
    margin-top: 0;
}