body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > div {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}

.secret span {
  color: #00FF00;
}

.warning {
    color: red;
}
#footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom 0;
    left 0;
}

.updateSecret {
    margin: 1% 0 3% 0;
}
.updateSecret input {
    width: 100%;
    margin: 3% 0;
}

.button, button input {
    display: inline-block;
    width: 35% !important;
    float: right;
}

.logout {
    position: absolute;
    right:0;
    top:0;
}
#sortOptions {
    text-align:right;
}
#sortOptions > * {
    display: inline-block;
}
#sortOptions select {
    margin-right: 2%;
}
form {
    position: relative;
    overflow: auto;
}
form > * {
    display: inline-block;
}
form input {
    width: 60%;
}
form label {
    width: 38%;
    margin-bottom: 4%;
}
form input[type="submit"]{
    float: right;
    margin-top: 2%;
    width: 20%;
}